ion-content {

    .content {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 20px;
        overflow: auto;
    }

    ion-fab-button {
        bottom: 20px;
        right: 20px;
        position: fixed;
        opacity: 0.7;
        width: 44px;
        height: 44px;
    }
}