<ion-content fullscreen="true">
  <div class="content">
    <!--<app-my-card *ngFor="let c of cards"></app-my-card>-->
  </div>

  <ion-fab-button id="openCreateCardModal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-modal trigger="openCreateCardModal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="back()">
              <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
            </ion-button>
          </ion-buttons>
          
          <ion-title slot="end">
              Create Card
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="content">
          <app-input (changeEvent)="updateRef($event)" type="text" placeholder="Reference Number" maxlength="255"></app-input>
          <app-input (changeEvent)="updateCardLabel($event)" type="text" placeholder="Card Label" maxlength="20"></app-input>
          <app-input (changeEvent)="updateNotificationNumber($event)" type="text" placeholder="Notification Number (SMS Mumber)" maxlength="20"></app-input>
          <app-datetime (changeEvent)="updateExpiryDate($event)" type="date" placeholder="Expiry Date"></app-datetime>
          <app-button (click)="confirmCreateCardAlert()" value="Submit" color="success"></app-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>