<router-outlet></router-outlet>

<ngx-spinner type="square-jelly-box" size = "medium"><p style="color: white" > Working... </p></ngx-spinner>

<ng-helmet>
  <title>My Title</title>
  <meta charset="utf-8" />
</ng-helmet>
<!-- <c-toast [autohide]="false" [fade]="false" [visible]="true">
    <c-toast-header>
      <toast-icon></toast-icon>
      CoreUI for Angular
    </c-toast-header>
    <c-toast-body>This is a static toast message</c-toast-body>
</c-toast> -->

<!-- <c-toaster class="p-3" position="fixed" [placement]="placement"></c-toaster> -->