


.loader {
     width: 120px;
     height: 120px;
     margin: 40px auto;
     border-radius: 50%;
     background: linear-gradient(92.97deg, rgba(47, 228, 191, 0.71) 32.76%, #6D837E 95.79%);
     overflow: hidden;
}