node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#hardhat
contracts/cache/
contracts/artifacts/
contracts/deployments/

#subgraphs
build/
generated/