
.memberprofile {
     padding-top: 120px;
//    padding-bottom: 120px;
   position: relative;
   background: #0E0D0D;

     .wrapper {
    margin: 0 auto;
    max-width: calc(100% - 2.875rem);
    width: 100%;

    @media (min-width: 1024px) {
     max-width: calc(100% - 7.5rem);
    }

    @media (min-width: 480px) {
     max-width: calc(100% - 3.75rem);
   }

   .container {
     display: flex;
     // justify-content: center;
     // align-items: center;
     flex-direction: column;
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 80px;


     .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
         
          @media(max-width: 1023.98px) {
               flex-direction: column;
          }
          
          .title {
               font-weight: 600;
               font-size: 35px;
               line-height: 145%;
               background: linear-gradient(92.59deg, #F164F1 6.24%, rgba(128, 16, 128, 0.8) 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               background-clip: text;
               text-fill-color: transparent;
          }

          .search_bar {
               border-radius: 60px;
               max-width: 400px;
               width: 100%;
               display: flex;
               align-items: center;
               padding: 10px 20px;
               border: 1px solid #995D99;

               .icon {
                    flex: 1;
                    width: 30px;
                    border: none;
                    cursor: pointer;
                    background: transparent;
               }

               .search_input {
                    background: transparent;
                    border: 0;
                    outline: none;
                    padding: 10px 20px;
                    font-size: 16px;
                    color: #D4D4D4;
               }
          }
     }

     .card_body {
           margin-top: 60px;

          
          .table_responsive {
               width: 100%;
              overflow-x: auto;

              table {
               width: 100%;
               border-collapse: collapse;

               thead {
                   
                    tr {
                     
                         td {
                              padding: 0.5rem 1rem;
                              font-weight: 600;
                              font-size: 20px;
                              line-height: 165%;
                              color: #AAA9A9;
                         }
                         
                    }
               }

               tbody {
                    
                    .tr {
                         

                         .td {
                               padding: 0.5rem 1rem;
                              font-weight: 500;
                              font-size: 20px;
                              line-height: 165%;
                              color: #EBDFEB;

                              
                              @media (max-width: 1023.98px) {
                                   font-size: 16px;
                              }
                         }
                    }

               }
          }
     }
}  

     }

}

}