h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #312d22;
}
a {
  font-size: 14px;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Regular.ttf");
  src: url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Regular.ttf") format("truetype")
      url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Bold.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Bold Italic.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Italic.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Light Italic.ttff") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Light.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Medium Italic.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A Medium.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A SemiBold Italic.ttf") format("truetype"),
    url("/fonts/euclid-circular-a-cufonfonts/Euclid Circular A SemiBold.ttf") format("truetype");
}

body {
  font-family: Euclid Circular A !important;
}

.future-plan {
  background-image: url("/images/FuturePlan/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mobile-future-plan {
  display: none;
  color: #fff;
}

.responsive-navlinks {
  display: none;
}

.feature-icon {
  width: 8%;
}

.btn-primary {
  background-color: #faca4f;
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.nav-shadow {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.bg-ash {
  background-color: #f1f0f0;
}
#hero-cta {
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 214px;
  height: 39px;
  border-radius: 28px;
}

#progress_bar > div {
  background-color: #faca4f !important;
}

.proposal-header {
  background-image: url("/images/Other/wrapper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 150px;
  width: 100%;
}

.future-plan-img > img {
  width: 80%;
}

.saveh-card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(49, 45, 34, 0.2);
  background-color: #ffffff;
  padding: 50px 40px;
}

@media screen and (max-width: 1024px) {
  .hero-image {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .header-one {
    display: none !important;
  }

  .nav-links {
    display: none !important;
  }
  .responsive-navlinks {
    display: block;
  }
  .future-plan-img {
    display: none;
  }

  .mobile-future-plan {
    display: block;
  }

  .feature-icon {
    width: 14%;
  }

  #hero-cta {
    width: 100%;
  }
}
.border {
  border: 1px solid red;
}
