@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0jnFJLDYT7xiDXxIen6h_b5NPAWJPuO7HUw&usqp=CAU')
}
.custom-im {
  background-image: url('https://media.istockphoto.com/photos/modern-living-room-interior-3d-render-picture-id1293762741?b=1&k=20&m=1293762741&s=170667a&w=0&h=2RI8SmBN4MrEZuTvdwRzaeB887x-dukFcQBpyQ-qwS4=')
}