@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "K2D";
    src: url('../fonts/K2D/K2D-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: "K2D";
    src: url('../fonts/K2D/K2D-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    }
    
    @font-face {
    font-family: "K2D";
    src: url('../fonts/K2D/K2D-Italic.ttf');
    font-weight: normal;
    font-style: italic;
    }




@layer components {
    .timeline-img{
        @apply h-16 w-16 object-cover rounded-full border-4 border-white xs:absolute md:mx-auto md:left-0 md:right-0
    }

    .timeline-container{
        @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16
    }

    .timeline-container-left{
        @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16  
    }

    .timeline-pointer{
        @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white xs:top-11 xs:left-26 md:left-14
    }

    .timeline-pointer-left{
        @apply md:left-auto md:right-14
    }
}





/* ===== GLOBAL ===== */


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'K2D', Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.h2{
    color: #351F0F;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 44px;
}



.features__section h3{
    font-weight: 800;
    font-size: 34px;
    line-height: 44px;

    color: #351F0F;
}




@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}
    
.fade-in {
    animation: fadeIn 300ms;
    -webkit-animation: fadeIn 300ms;
    -moz-animation: fadeIn 300ms;
    -o-animation: fadeIn 300ms;
    -ms-animation: fadeIn 300ms;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  





/* ===== HEADER ===== */
.shadow-header{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background: #ffffff;
}


/* HOW IT WORKS */


.how__it__works .tablist__header{
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #3F3F3F;
}


.react-tabs li.react-tabs__tab--selected{
    border-color: #DD7D37;
}

.tab-content h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 1rem;
    color: #3F3F3F;

}
.tab-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #3F3F3F;

}


/* FEATURES */
.features-img{
    width: 579px;
    height: 456px;
    background: #FCE4D3;
    border-radius: 16px;
}



/* MEET THE TEAM */
.square{
    width: 323px;
    height: 271px;
    border-radius: 16px;

    background: #FCE4D3;

}

.meet__team h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #3F3F3F;
}
.meet__team P{
    font-size: 18px;
    line-height: 31px;
    color: #6D747D;
}

ol {list-style:decimal;}







.scrollbar::-webkit-scrollbar {
    width: 0;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: (rgb(48, 47, 47) 173, 173);
  }
  .scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    width: 0.1rem;
    background-color: #45CD85;
  }
  