@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .timeline-img{
        @apply h-16 w-16 object-cover rounded-full border-4 border-white xs:absolute md:mx-auto md:left-0 md:right-0
    }

    .timeline-container{
        @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16
    }

    .timeline-container-left{
        @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16  
    }

    .timeline-pointer{
        @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white xs:top-11 xs:left-26 md:left-14
    }

    .timeline-pointer-left{
        @apply md:left-auto md:right-14
    }
}



/* ===== GLOBAL ===== */

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}
    




/* ===== HEADER ===== */
.shadow-header{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background: #ffffff;
}



/* FEATURES */
.features-img{
    width: 579px;
    height: 456px;
    background: #FCE4D3;
    border-radius: 16px;
}



/* MEET THE TEAM */
.square{
    width: 323px;
    height: 271px;
    border-radius: 16px;

    background: #FCE4D3;

}