
.votetime {
     padding-top: 40px;
     padding-bottom: 40px;
     background: #0E0D0D;

   .wrapper {
    margin: 0 auto;
    max-width: calc(100% - 2.875rem);
    width: 100%;

    @media (min-width: 1024px) {
     max-width: calc(100% - 7.5rem);
    }

    @media (min-width: 480px) {
     max-width: calc(100% - 3.75rem);
   }

   .container {
     padding-left: 100px;
     padding-right: 100px;
     // padding-top: 100px;

     .votetime_container {
          background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
          border-radius: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 30px 10%;

          @media (max-width: 1023.98px) {
               flex-direction: column;
               justify-content: center;
               align-items: center;
          }

          .btn {
               background: linear-gradient(92.59deg, #AF4AAF 6.24%, rgba(49, 7, 49, 0.8) 100%);
               border-radius: 30px;
               width: 150px;
               height: 45px;
               border: none;
               font-weight: 500;
               font-size: 18px;
               line-height: 165%;
               color: #FFFEFE;
               cursor: pointer;
               transition: all 100ms ease-out;

               &:hover {
                    background: linear-gradient(92.59deg, #F164F1 6.24%, rgba(128, 16, 128, 0.8) 100%);
               }
          }

          .votetime_info {
               list-style: none;

               li {
                    display: inline-block;
                    padding: 0px 20px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 165%;
                    color: #D4D4D4;

                    @media(max-width: 1023.98px) {
                         font-size: 16px;
                         text-align: center;
                    }

                    .box {
                         display: inline-block;
                         width: 12px;
                         height: 12px;
                         border-radius: 30px;
                         background: #DDC9DD;

                     @media(max-width: 1023.98px) {
                         margin-right: 10px;
                         margin-left: 10px;
                     }

                    }
               }
          }

          .user_btn  {
            position: relative;
            background: linear-gradient(92.59deg, #F164F1 6.24%, rgba(128, 16, 128, 0.8) 100%);
            width: 50px;
            height: 50px;
            border-radius: 30px;
            cursor: pointer;

            .arrow_down {
                 background-image: url('../../assets/arrow-down.svg'); 
                 background-position: 0 100%;
                 background-repeat: no-repeat;
                 background-size: contain;
                 max-width: 40%;
                 position: absolute;
                 top: 6px;
                 height: 50%;
                 right: -30px;
                 width: 100%;
             }
          }
     }
}

}

}
