footer {
  @media screen and (max-width: $mobile-width) {
    font-size: 0.75rem;
  }
  section {
    flex-direction: column;
    line-height: 1;
    color: $text-footnote;

    p {
      line-height: 1.25;
    }

    .logo {
      font-size: 2rem;
      color: inherit;
    }

    a {
      color: inherit;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -0.5em;
        bottom: -0.25em;
        width: 0%;
        height: 1px;
        background: $text-callout;

        transition: left $fast, width $fast, opacity $fast;
      }

      &:hover {
        color: $text-callout;

        &::before {
          left: 0;
          width: 100%;
          opacity: 1;
        }
      }
    }

    .menu {
      display: flex;
      gap: 1rem;

      li {
        &::before {
          content: "•";
          margin-right: 1rem;
        }
      }

      :first-child::before {
        content: "";
        margin-right: 0;
      }
    }

    * {
      width: fit-content;
    }
  }
}
