.donate {
     width: 100%;
     height: 100%;
     background: rgba(3, 3, 3, 0.9);
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden; 
     z-index: 2000;
     
     .wrapper {
          max-width: 600px;
          background: #030303;
          box-shadow: 5px 5px 50px rgba(31, 6, 46, 0.3);
          border-radius: 20px;
          display: flex;
          z-index: 10;

          @media (max-width: 600px) {
               width: 414px;
               height: 600px;
          }

          .container {
               display: flex;
               justify-content: center;
               align-items: center;
               // flex-direction: column;

               .donate_content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 50px;
          
                   .title {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 140%;
                    color: #FFFEFE;
                    text-align: center;
                    max-width: 300px;

                    @media (max-width: 600px) {
                         font-size: 24px;
                         margin-top: 120px;
                    }
                   }

                   .donate_input {
                    margin-top: 60px;
                    position: relative;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    
                    .wallet_icon {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         position: absolute;
                         margin-left: 10px;
                         left: 0;
                         width: 30px;
                    }

                    input {
                          padding: 15px 60px;
                          border: none;
                          background: #DDC9DD;
                          outline: none;
                          border-radius: 5px;
                    }

                    select {
                         cursor: pointer;
                        position: absolute;
                        right: 0;
                        background: #DDC9DD;
                        border: none;
                        outline: none;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 165%;
                        text-align: center;
                        color: #0E0D0D;
                        margin-right: 10px;

                        option {
                         
                         &::after {
                              border: none;
                         }
                          
                         &:hover {
                              background: #264D45;
                         }
                        }

                    }
                   
                   }

                   .deposit_btn {
                    cursor: pointer;
                    margin-top: 80px;
                    border: none;
                    background: #804D80;
                    border-radius: 30px;
                    padding: 10px 100px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 165%;
                    color: #FFFEFE;
                    transition: all 100ms ease-out;

                    &:hover {
                       background: #AA78AA;
                    }
                    
                      @media (max-width: 600px) {
                         font-size: 14px;
                         padding: 10px 100px;
                    }

                   }
               }
           }    
           
           .closeButton {
               cursor: pointer;
               background-image: url('../../assets/Exit\ Icon.svg');
               background-position: 10% 0;
               background-repeat: no-repeat;
               background-size: contain;
               height: 25px;
               max-width: 40%;
               position: absolute;
               right: -85px;
               // left: 0;
               padding: 0;
               top: 30px;
               width: 100%;
               z-index: 1;
           }
             
     }
}