<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You just signed up on Culture.</p>
        <p> Please, click the link below to verify your email address.</p>
        <a href="{{link}}">Reset Password</a>
    </body>
</html>