.container {

}

.hero {
  margin-top: -80px;
}

.app-name {
  text-align: center;
  font-size: 17rem;
  font-family: 'Londrina Shadow', cursive;
  color: darkgoldenrod;
  margin: 0;
}

.usp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fefefe;
}

.usp img {
  width: 100%;
}

.usp-txt h2{
  font-size: 4rem;
}

.usp-txt p{
  font-size: 1.2rem;
  margin: 0;
}