
.event-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    /*position: relative;*/
}

.event-item, .page-event-item {
        /*display: grid;*/
        /*justify-content: center;*/
    margin: 20px;
    font-size: 0.9em;
    border-radius: 8px;
    padding: 20px 24px;
}

.page-event-item {
    color: #fefefe;
    border: 2px solid #fefefe;
}

.event-item button, .page-event-item button {
    border-radius: 8px;
    padding: 14px 20px;
    font-weight: 900;
    margin: 20px 0;
    cursor: pointer;
}

.event-item span, .page-event-item span {
    margin-bottom: 8px;
}

.event-item:nth-child(1) {
    border: 2px solid #A072FF;
    color: #A072FF;
}

.event-item:nth-child(1) button{
    border: 4px solid #A072FF;
    background: #A072FF;
}

.event-item:nth-child(2) {
    border: 2px solid #00A84F;
    color: #00A84F;
}

.event-item:nth-child(2) button{
    border: 4px solid #00A84F;
    background: #00A84F;
}

.event-item:nth-child(3) {
    border: 2px solid #FF9602;
    color: #FF9602;
}

.event-item:nth-child(3) button{
    border: 4px solid #FF9602;
    background: #FF9602;
}

.event-item img, .page-event-item img{
    max-height: 150px;
}

.rsvp-btn {
    display: block;
    width: 100%;
}

.cb {
    color: #adaaaa;
}

.blk {
    display: block;
}

.confirm-form {
    display: none;
}

.show-confirm-form {
    height: 100vh;
    display: block;
    background: rgba(187, 184, 184, 0.22);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.conf {
    align-items: center;
    width: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 20px;
    border-radius: 8px;
    background: #f2f3f6;
}

@media (max-width: 1024px) {
    .event-container {
        display: block;
        justify-content: center;
    }
}

