@import "typography.scss";
@import "themes.scss";
@import "colors.scss";
@import "layout.scss";
@import "effects.scss";

@import "components/card.scss";
@import "components/chart_score.scss";
@import "components/data_cards.scss";
@import "components/data_table.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/Input.scss";
@import "components/logotype.scss";
@import "components/main.scss";
@import "components/user_address.scss";
@import "components/user_stats.scss";
@import "components/wallet_data.scss";
@import "components/wallet_user.scss";

@import "pages/get_score.scss";
@import "pages/home.scss";
@import "pages/scored.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

body {
  color: $text-body;
}
