@import "./colors.scss";
@import "./layout.scss";

@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"; //Inter
@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"; //Space Grotesk
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"; // Symbols

$font-main: "Inter", sans-serif;
$font-fancy: "Space Grotesk", sans-serif;
$font-icon: "Material Symbols Outlined";

$size-body: 1rem;
$size-footnote: 0.75rem;

html {
  font-family: $font-main;
}

a {
  color: inherit;
  text-decoration: none;
  color: $text-callout;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-title;
  letter-spacing: -0.04em;
  line-height: 1;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  font-weight: 500;
}

h1 {
  font-family: $font-fancy;
  font-weight: 500;
  font-size: 4rem;

  @media screen and (max-width: $mobile-width) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
  text-transform: capitalize;
}
