/* Deed */
  .DeedButtonsLine {
	display: flex;
	flex-direction: row;
	justify-content: center;
  }

  .DeedButton {
	  margin-left: 5px;
	  margin-right: 5px;
  }
   
  .DeedCurrencyPickLine {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  .DeedCurrencyName {
	max-width: 40vw;
  }

  .DeedSignature {
	  font-size:xx-small;
	  word-break: break-word;
  }

  /* Deed Articles */
  .ClauseArticleHeader {
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
  }
  
  .ClauseArticleContent {
	font-style: italic;
	text-align: left;
  }
  
  .ClauseArticleTime {
	font-style: italic;
	text-align: right;
  }