


.loader {
     width: 200px;
     height: 200px;
     margin: 40px auto;
     border-radius: 20px;
     background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
     filter: drop-shadow(5px 5px 50px rgba(31, 6, 46, 0.3));
     overflow: hidden;
}