


.loader {
     width: 120px;
     height: 120px;
     margin: 40px auto;
     border-radius: 50%;
     background: linear-gradient(92.59deg, #AF4AAF 6.24%, rgba(49, 7, 49, 0.8) 100%);
     overflow: hidden;
}