.drawer {
    height: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    transition: 0.5s;
    background: #9ca3af;
    overflow-y: hidden;
}

.drawer-links {
    display: grid;
    padding-left: 100px;
    padding-top: 60px;
}

.drawer-links a {
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 500;

}

.show-drawer {
    height: 100vh;
}

.app-name-drawer {
    font-size: 5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.close-btn {
    font-weight: 700;
    font-size: 3rem;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

