.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a.link{
  color: whitesmoke;
  font-size: 1.2vw;
}

.text-mutted{
  color: rgba(255, 255, 255, 0.767);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg.box_svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.box_svg {
  font-size: 0.5px;
  transition: .2s font-size cubic-bezier(0.1, 1, 0.22, 1);
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 0 31.415 0 31.415;
}

