.propose {
   background: #0E0D0D;
   padding-top: 120px;
   padding-bottom: 120px;
   position: relative;

   .left_arrow {
      padding-top: 80px;
      padding-left: 130px;

      .back_arrow {
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
         border-radius: 10px;
         width: 100px;
         height: 40px;

         .arrow {
            cursor: pointer;
         }
      }

   }


   .wrapper {
      margin: 0 auto;
      max-width: calc(100% - 2.875rem);
      width: 100%;

      @media (min-width: 1024px) {
         max-width: calc(100% - 7.5rem);
      }

      @media (min-width: 480px) {
         max-width: calc(100% - 3.75rem);
      }

      .top_container {
         display: flex;
         justify-content: center;
         align-items: center;
         padding-left: 80px;
         padding-right: 100px;

         @media (max-width: 600px) {
            padding-top: 50px;
            padding-left: 0px;
            padding-right: 0px;
         }

         .propose_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 550px;
            padding: 10px;
            background: #050404;
            box-shadow: 5px 5px 50px rgba(31, 6, 46, 0.3);

            @media (max-width: 600px) {
               padding: 20px;
            }

            .title {
               font-weight: 600;
               font-size: 25px;
               line-height: 160%;
               text-align: center;
               color: #FFFEFE;
            }

            .propose_form {
               display: flex;
               flex-direction: column;
               margin-top: 30px;

               label {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 165%;
                  color: #FFFEFE;
                  //     text-align: left;
                  margin-bottom: 15px;
               }

               input {
                  margin-bottom: 30px;
                  border: none;
                  background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
                  border-radius: 10px;
                  padding: 20px;
                  color: #FFFEFE;
                  outline: none;
               }

               textarea {
                  background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
                  outline: none;
                  color: #FFFEFE;
                  padding: 30px;
                  border: none;
                  border-radius: 10px;
                  margin-bottom: 30px;
               }

               .upload_btn_wrapper {
                  position: relative;
                  border: 1px dashed #BB93BB;
                  border-radius: 10px;
                  height: 150px;

                  .cloudsvg {
                     cursor: pointer;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;

                     .icon {
                        margin-top: 30px;
                        width: 40px;
                        height: 40px;
                     }


                     p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 165%;
                        color: #FFFEFE;
                     }

                     .upload {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                        min-height: 300px;
                     }
                  }
               }

               .form_btn {
                  margin-top: 40px;
                  margin-bottom: 40px;
                  cursor: pointer;
                  border: none;
                  background: linear-gradient(92.59deg, #AF4AAF 6.24%, rgba(49, 7, 49, 0.8) 100%);
                  border-radius: 30px;
                  padding: 10px 40px;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 165%;
                  color: #FFFEFE;
                  transition: all 100ms ease-in-out;

                  &:hover {
                     border: 2px solid #CCAECC;
                  }
               }

               
               .connection {
                     margin-top: 40px;


                  .connect_btn {
                     cursor: pointer;
                     border: none;
                     background: linear-gradient(92.59deg, #AF4AAF 6.24%, rgba(49, 7, 49, 0.8) 100%);
                     border-radius: 30px;
                     width: 200px;
                     height: 50px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 165%;
                     color: #FFFEFE;
                     transition: all 100ms ease-in-out;

                     &:hover {
                        border: 2px solid #CCAECC;
                     }

                  }

                  .wrong_btn {
                     cursor: pointer;
                     border: none;
                     background: linear-gradient(92.59deg, #AF4AAF 6.24%, rgba(49, 7, 49, 0.8) 100%);
                     border-radius: 30px;
                     width: 200px;
                     height: 50px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 165%;
                     color: #FFFEFE;
                     transition: all 100ms ease-in-out;

                     &:hover {
                        border: 2px solid #CCAECC;
                     }
                  }

               }


            }
         }
      }

   }
}