.container {
    overflow-y: scroll;
}

.form {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #313030;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.hide-form {
    display: none;
}