.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: -400px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: -400px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: -400px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: -400px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: -400px 0; }
}

.main-bg {
	width: 100%; 
	height: 92vh; 
    background-image: url("./assets/images/background-img.jpeg");
    background-position: 0px 0px;
    overflow: hidden;
    background-repeat: repeat;
    position: relative;
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: animatedBackground 20s linear infinite;
    -moz-animation: animatedBackground 20s linear infinite;
    -webkit-animation: animatedBackground 20s linear infinite;
    -ms-animation: animatedBackground 20s linear infinite;
    -o-animation: animatedBackground 20s linear infinite;
}
