ion-header {
    ion-toolbar {
        padding-left: 15px;
        padding-right: 15px;

        img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            padding: 2px;
            border: 1px solid black;
        }

        ion-icon {
            font-size: 28px;
        }
    }
}