
.footer {
   padding-top: 120px;
   padding-bottom: 120px;
   position: relative;
   background: #090909;
//    padding: 1.25rem 0 2.5rem;

   .wrapper {
   margin: 0 auto;
    max-width: calc(100% - 1.875rem);
    width: 100%;

    @media (min-width: 1024px) {
     max-width: calc(100% - 7.5rem);
    }

    @media (min-width: 480px) {
     max-width: calc(100% - 3.75rem);
   }

   .container {
     display: flex;
     gap: 6rem;
     padding-left: 80px;
     padding-right: 100px;
     padding-top: 100px;

     @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
     }

     .footer_menu {
      justify-self: center;
   
       @media (max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }

      //  @media (max-width: 1023.98px) {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   flex-direction: column;
      //  }
    
     .footer_title {
       font-weight: 700;
       font-size: 45px;
       line-height: 145%;
       color: #FFFFFF;
       max-width: 580px;

       @media (max-width: 600px) {
        font-size: 22px;
        text-align: center;
       }
     }

     .button {
        margin-top: 25px;
        cursor: pointer;
        width: 300px;
        height: 60px;
        background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
        border-radius: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 165%;
        color: #FFFEFE;
        border: none;
        transition: all 100ms ease-out;

        &:hover {
          background: linear-gradient(92.97deg, rgba(47, 228, 191, 0.71) 32.76%, #6D837E 95.79%);
        }

     }

     }

     
     .footer_social {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 20px;
          // grid-row-gap: 20px;
          margin-right: 100px;

         @media (max-width: 600px) {
           margin-left: 40px;
       }

          .social_item {
               flex: 1 0 10%;
               display: flex;
               justify-content: center;
               align-items: center;
               background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
               width: 88px;
               height: 56px;
               cursor: pointer;
              //  margin-left: 20px;
          }
          
     }

     .footer_link {
      // margin-left: 30px;

         @media (max-width: 600px) {
          text-align: center;
        }

      .title {
         font-weight: 600;
         font-size: 30px;
         line-height: 160%;
         color: #FFFFFF;
         margin-bottom: 20px;

         @media (max-width: 600px) {
          font-size: 24px;
         }
      }

      .links {
        display: flex;
        flex-direction: column;
        cursor: pointer;

         .link {
        font-weight: 400;
        font-size: 20px;
        line-height: 165%;
        color: #FFFFFF;
        margin-bottom: 20px;

          @media (max-width: 600px) {
          font-size: 16px;
         }
      }

      }

    }

   }

   }
}